
.alert-msg{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .alert-msg > div{
    height: 200px;
    width: 450px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.05),
    -2px -2px 1px 1px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  